<div class="col-12">
    <nb-card size="large">
      <nb-tabset fullWidth (changeTab)="tabClicked($event)">
        <nb-tab tabTitle="Aktif Teklif">
          <p>
            <b>{{this.offer.name}}</b> 
          <br>
          <span> {{this.offer.offerDateRange}}</span>
          <br>
          <span> {{this.offer.offerResultMessage}} </span>
          </p>      
        </nb-tab>
        <nb-tab tabTitle="Teklif Geçmişi">
          <div class="col-md-12 col-lg-6 col-xxxl-6">
              <nb-card size="medium">
                <nb-card-header>
                  Teklifler
                </nb-card-header>
                <nb-list>
                  <nb-list-item *ngFor="let item of offerHistory">
                   <p style="font-size: x-small;"> <b>Tarih :</b> {{item.offerDateRange}} <br> <b>Teklif : </b> {{ item.name }} <br> <b>Sonuç:</b> {{ item.offerResultMessage }} </p>
                  </nb-list-item>
                </nb-list>
              </nb-card>
            </div>
          
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>